[project]
	description = Bandwidth Calculator for Shell.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kevin Carter (cloudnull)
[access "refs/for/refs/*"]
	read = group user/Kevin Carter (cloudnull)
	push = group user/Kevin Carter (cloudnull)
	label-Code-Review = -2..+2 group user/Kevin Carter (cloudnull)
	label-Verified = -1..+1 group user/Kevin Carter (cloudnull)
	rebase = group user/Kevin Carter (cloudnull)
	removeReviewer = group user/Kevin Carter (cloudnull)
	submit = group user/Kevin Carter (cloudnull)
[access "refs/heads/*"]
	read = group user/Kevin Carter (cloudnull)
	create = group user/Kevin Carter (cloudnull)
	push = +force group user/Kevin Carter (cloudnull)
	pushMerge = group user/Kevin Carter (cloudnull)
[access "refs/tags/*"]
	push = +force group user/Kevin Carter (cloudnull)
	pushTag = group user/Kevin Carter (cloudnull)
	pushSignedTag = group user/Kevin Carter (cloudnull)
